[Desktop Entry]
Type=Service
Icon=input-tablet

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=wacomtablet
X-KDE-DBus-ModuleName=wacomtablet
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=Wacom Tablet
Name[bs]=Wacom tablet
Name[cs]=Tablet Wacom
Name[da]=Wacom tegneplade
Name[el]=Wacom Tablet
Name[en_GB]=Wacom Tablet
Name[es]=Tablet Wacom
Name[et]=Wacomi graafikalaud
Name[km]=Wacom Tablet
Name[nb]=Wacom tegneplate
Name[nds]=Wacom-Tablett
Name[nl]=Wacom-tablet
Name[pa]=ਵਕੋਮ ਟੇਬਲੇਟ
Name[pt]=Tablete Wacom
Name[pt_BR]=Mesa digitalizadora Wacom
Name[ro]=Planșetă Wacom
Name[ru]=Планшет Wacom
Name[sv]=Wacom ritplatta
Name[th]=แท็บเล็ตของ Wacom
Name[tr]=Wacom Tablet
Name[uk]=Планшет Wacom
Name[x-test]=xxWacom Tabletxx
Name[zh_TW]=Wacom 平板裝置
Comment=Wacom tablet control daemon
Comment[cs]=Ovládací démon tabletu Wacom
Comment[da]=Kontroldæmon til Wacom tegneplade
Comment[el]=Δαίμων ελέγχου πινακίου Wacom
Comment[en_GB]=Wacom tablet control dæmon
Comment[es]=Servicio de control del tablet Wacom
Comment[et]=Wacomi graafikalaua juhtimisdeemon
Comment[km]=ដេមិន​វត្ថុ​បញ្ជា ​​Wacom tablet
Comment[nb]=Styringsnisse for Wacom tegneplate
Comment[nds]=Stüerdämoon för Wacom-Tabletts
Comment[nl]=Besturingsdaemon voor Wacom-tablet
Comment[pa]=ਵਕੋਸ ਟੈਬਲੇਟ ਕੰਟਰੋਲ ਡੈਮਨ
Comment[pt]=Servidor de controlo das tabletes Wacom
Comment[pt_BR]=Servidor de controle da mesa digitalizadora Wacom
Comment[ro]=Demon pentru controlul planșetelor Wacom
Comment[ru]=Служба управления планшетом Wacom
Comment[sv]=Styrdemon för Wacom ritplatta
Comment[th]=ดีมอนควบคุมแท็บเล็ตของ Wacom
Comment[tr]=Wacom tablet yapılandırma hizmeti
Comment[uk]=Фонова служба керування планшетними пристроями Wacom
Comment[x-test]=xxWacom tablet control daemonxx
Comment[zh_TW]=Wacom 平板裝置控制伺服程式

