[Desktop Entry]
Type=Service
Icon=input-tablet

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=wacomtablet
X-KDE-DBus-ModuleName=wacomtablet
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=Wacom Tablet
Name[bs]=Wacom Tablet
Name[ca]=Tauleta Wacom
Name[ca@valencia]=Tauleta Wacom
Name[cs]=Tablet Wacom
Name[da]=Wacom tegneplade
Name[de]=Wacom-Tablett
Name[en_GB]=Wacom Tablet
Name[es]=Tablet Wacom
Name[et]=Wacomi graafikalaud
Name[fi]=Wacom-piirtopöytä
Name[fr]=Tablette « Wacom »
Name[gl]=Tableta de Wacom
Name[hu]=Wacom táblagép
Name[it]=Tavoletta Wacom
Name[kk]=Wacom планшеті
Name[ko]=와콤 태블릿
Name[nb]=Wacom tegneplate
Name[nds]=Wacom-Tablett
Name[nl]=Wacom-tablet
Name[pl]=Tablet Wacom
Name[pt]=Tablete Wacom
Name[pt_BR]=Mesa digitalizadora Wacom
Name[ru]=Планшет Wacom
Name[sk]=Wacom Tablet
Name[sl]=Tablica Wacom
Name[sv]=Wacom ritplatta
Name[tr]=Wacom Tablet
Name[uk]=Планшет Wacom
Name[x-test]=xxWacom Tabletxx
Name[zh_TW]=Wacom 平板裝置
Comment=Wacom tablet control daemon
Comment[bs]=Kontrolni demon za Wacom Tablet
Comment[ca]=Dimoni de tauleta Wacom
Comment[ca@valencia]=Dimoni de tauleta Wacom
Comment[cs]=Ovládací démon tabletu Wacom
Comment[da]=Kontroldæmon til Wacom tegneplade
Comment[de]=Hintergrundprozess für Wacom-Tabletts
Comment[en_GB]=Wacom tablet control daemon
Comment[es]=Servicio de control del tablet Wacom
Comment[et]=Wacomi graafikalaua juhtimisdeemon
Comment[fi]=Wacom-piirtopöydän ohjauspalvelu
Comment[fr]=Démon de contrôle de tablette « Wacom »
Comment[gl]=Daemon de control de tabletas de Wacom.
Comment[hu]=Wacom táblagép irányító démon
Comment[it]=Demone di controllo della tavoletta Wacom
Comment[kk]=Watcom планшетін басқару қызметі
Comment[ko]=와콤 태블릿 제어 데몬
Comment[nb]=Styringsnisse for Wacom tegneplate
Comment[nds]=Stüerdämoon för Wacom-Tabletts
Comment[nl]=Besturingsdaemon voor Wacom-tablet
Comment[pl]=Demon kontroli tabletu Wacom
Comment[pt]=Servidor de controlo das tabletes Wacom
Comment[pt_BR]=Servidor de controle da mesa digitalizadora Wacom
Comment[ru]=Демон управления планшетом Wacom
Comment[sk]=Ovládací démon tabletu Wacom
Comment[sl]=Odzadnji program za nadzor tablice Wacom
Comment[sv]=Styrdemon för Wacom ritplatta
Comment[tr]=Wacom tablet yapılandırma hizmeti
Comment[uk]=Фонова служба керування планшетними пристроями Wacom
Comment[x-test]=xxWacom tablet control daemonxx
Comment[zh_TW]=Wacom 平板裝置控制伺服程式

