[Desktop Entry]
Type=Service
Icon=input-tablet

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=wacomtablet
X-KDE-DBus-ModuleName=wacomtablet
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=Wacom Tablet
Name[ca]=Tauleta Wacom
Name[cs]=Tablet Wacom
Name[fi]=Wacom-piirtoalusta
Name[nl]=Wacom-tablet
Name[pt]=Tablete Wacom
Name[sk]=Wacom Tablet
Name[x-test]=xxWacom Tabletxx
Comment=Wacom tablet control daemon
Comment[ca]=Dimoni de tauleta Wacom
Comment[cs]=Ovládací démon tabletu Wacom
Comment[fi]=Wacom-piirtoalustan ohjauspalvelu
Comment[nl]=Besturingsdaemon voor Wacom-tablet
Comment[pt]=Servidor de controlo das tabletes Wacom
Comment[sk]=Ovládací démon tabletu Wacom
Comment[x-test]=xxWacom tablet control daemonxx

