[Desktop Entry]
Exec=kcmshell5 kcm_wacomtablet
Icon=preferences-desktop-tablet
Type=Service
X-KDE-ServiceTypes=KCModule
DocPath=kcontrol/wacomtablet/index.html

X-KDE-Library=kcm_wacomtablet
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=keyboard-and-mouse
X-KDE-System-Settings-Parent-Category-V2=input-devices

Name=Graphic Tablet
Name[ar]=لوحيّ رسم
Name[bs]=Grafički tablet
Name[ca]=Tauleta gràfica
Name[ca@valencia]=Tauleta gràfica
Name[cs]=Grafický tablet
Name[da]=Grafiktegneplade
Name[de]=Grafiktablett
Name[el]=Γραφικό πινάκιο
Name[en_GB]=Graphic Tablet
Name[es]=Tableta gráfica
Name[et]=Graafikalaud
Name[eu]=Tableta grafikoa
Name[fi]=Piirtopöytä
Name[fr]=Tablette graphique
Name[gl]=Tableta gráfica
Name[hu]=Digitális rajztábla
Name[ia]=Tabletta Graphic
Name[id]=Tablet Grafik
Name[it]=Tavoletta grafica
Name[ja]=グラフィックタブレット
Name[kk]=Графикалық планшет
Name[km]=ក្រាហ្វិក​របស់​ Tablet​
Name[ko]=그래픽 태블릿
Name[lt]=Grafinė planšetė
Name[mr]=ग्राफिक टॅब्लेट
Name[nb]=Tegneplate
Name[nds]=Grafiktablettfehler
Name[nl]=Grafisch tablet
Name[nn]=Teikneplate
Name[pa]=ਗਰਾਫਿਕਸ ਟੈਬਲੇਟ
Name[pl]=Tablet graficzny
Name[pt]=Tablete Gráfica
Name[pt_BR]=Mesa digitalizadora
Name[ro]=Planșetă grafică
Name[ru]=Графический планшет
Name[sk]=Grafický tablet
Name[sl]=Grafična tablica
Name[sv]=Grafisk ritplatta
Name[th]=แท็บเล็ตกราฟิก
Name[tr]=Grafik Tablet
Name[ug]=گرافىكىلىق سەزگۈر تاختا
Name[uk]=Графічний планшет
Name[x-test]=xxGraphic Tabletxx
Name[zh_CN]=数位板
Name[zh_TW]=圖形平板裝置

Comment=Wacom Tablet Settings
Comment[ar]=إعدادات لوحيّّ واكُم
Comment[bs]=Postavke Wacom tableta
Comment[ca]=Arranjament per a les tauletes Wacom
Comment[ca@valencia]=Arranjament per a les tauletes Wacom
Comment[cs]=Nastavení tabletu Wacom
Comment[da]=Indstillinger for Wacom tegneplade
Comment[de]=Wacom-Tablett-Einstellungen
Comment[el]=Ρυθμίσεις πινακίου Wacom
Comment[en_GB]=Wacom Tablet Settings
Comment[es]=Preferencias de la tableta Wacom
Comment[et]=Wacomi graafikalaua seadistused
Comment[eu]=Wacom Tabletaren ezarpenak
Comment[fi]=Wacom-piirtopöydän asetukset
Comment[fr]=Paramètres de la tablette « Wacom »
Comment[gl]=Configuración de tabletas de Wacom
Comment[hu]=Wacom rajztábla-beállítások
Comment[ia]=Preferentias de Tabletta Wacom
Comment[id]=Pengaturan Tablet Wacom
Comment[it]=Impostazioni delle tavolette Wacom
Comment[ja]=Wacom タブレット設定
Comment[kk]=Wacom планшетінің параметрлері
Comment[km]=ការ​កំណត់​ Wacom Tablet
Comment[ko]=와콤 태블릿 설정
Comment[lt]=Wacom planšetės nuostatos
Comment[mr]=वेकॉम टॅब्लेट संयोजना
Comment[nb]=Innstillinger for Wacom tegneplate
Comment[nds]=Wacom-Tablett instellen
Comment[nl]=Wacom tablet-instellingen
Comment[nn]=Wacom-oppsett
Comment[pa]=ਵਕੋਮ ਟੈਬਲੇਟ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia tabletu Wacom
Comment[pt]=Configuração da Tablete Wacom
Comment[pt_BR]=Configurações da mesa digitalizadora Wacom
Comment[ro]=Configurări pentru planșeta Wacom
Comment[ru]=Настройка планшета Wacom
Comment[sk]=Nastavenia tabletu Wacom
Comment[sl]=Nastavitve tablice Wacom
Comment[sv]=Inställningar av Wacom ritplatta
Comment[th]=การตั้งค่าแท็บเล็ตของ Wacom
Comment[tr]=Wacom Tablet Ayarları
Comment[ug]=Wacom سەزگۈر تاختا تەڭشەكلىرى
Comment[uk]=Параметри планшетів Wacom
Comment[x-test]=xxWacom Tablet Settingsxx
Comment[zh_CN]=Wacom 数位板设置
Comment[zh_TW]=Wacom 平板裝置設定

X-KDE-Keywords=Tablet,Input Devices,Wacom,Stylus
X-KDE-Keywords[ar]=Tablet,Input Devices,Wacom,Stylus,لوحي,أجهزة دخل,أجهزة إدخال,اجهزة ادخال,واكُم,واكم,واكوم,قلم تأشير,قلم تاشير
X-KDE-Keywords[bs]=Tablet,Ulazni uređaji,Wacom,Stylus
X-KDE-Keywords[ca]=Tauleta,Dispositius d'entrada,Wacom,Llapis
X-KDE-Keywords[ca@valencia]=Tauleta,Dispositius d'entrada,Wacom,Llapis
X-KDE-Keywords[cs]=Tablet,Vstupní zařízení,Wacom,Stylus
X-KDE-Keywords[da]=Tablet,input-enheder,Wacom,stylus,tegneplade
X-KDE-Keywords[de]=Tablett,Eingabegeräte,Wacom,Stift
X-KDE-Keywords[el]=Πινάκιο,συσκευές εισόδου,Wacom,γραφίδα
X-KDE-Keywords[en_GB]=Tablet,Input Devices,Wacom,Stylus
X-KDE-Keywords[es]=Tablet,Dispositivos de entrada,Wacom,Stylus
X-KDE-Keywords[et]=tahvel,tablet,laud,graafikalaud,sisendseadmed,wacom,stilus
X-KDE-Keywords[eu]=Tablet,Sarrerako gailuak,Wacom,Arkatza
X-KDE-Keywords[fi]=Tablet,input devices,piirtopöytä,syöttölaite,Wacom,Stylus
X-KDE-Keywords[fr]=Tablette, périphériques d'entrée, Wacom, stylet
X-KDE-Keywords[gl]=Tableta,Dispositivos de entrada,Wacom,Stylus
X-KDE-Keywords[hu]=Rajztábla,Beviteli eszközök,Wacom,Stylus
X-KDE-Keywords[id]=Tablet,Perangkat Input,Wacom,Stylus
X-KDE-Keywords[it]=Tavoletta,Dispositivo d'ingresso,Wacom,Pennino
X-KDE-Keywords[kk]=Tablet,Input Devices,Wacom,Stylus
X-KDE-Keywords[km]=Tablet,Input Devices,Wacom,Stylus
X-KDE-Keywords[ko]=Tablet,Input Devices,Wacom,Stylus,태블릿,타블렛,입력 장치,와콤,스타일러스,펜
X-KDE-Keywords[lt]=Planšetė,įvesties įrenginiai,Rašiklis
X-KDE-Keywords[mr]=टॅब्लेट,इनपुट साधने,वेकॉम,स्टाइलस
X-KDE-Keywords[nb]=Tablet,skriveplate,inndata-enheter,Wacom,penn
X-KDE-Keywords[nds]=Tablett,Ingaav-Reedschappen,Wacom,Stylus,Stift
X-KDE-Keywords[nl]=Tablet,invoerapparaten,Wacom,stylus
X-KDE-Keywords[nn]=teikneplate,skriveplate,inneiningar,wacom,penn
X-KDE-Keywords[pl]=Tablet,Urządzenia wejściowe,Wacom,Rysik
X-KDE-Keywords[pt]=Tablete,Dispositivos de Entrada,Wacom,Caneta
X-KDE-Keywords[pt_BR]=Tablet,Dispositivos de entrada,Wacom,Stylus,Mesa digitalizadora
X-KDE-Keywords[ru]=Tablet,Input Devices,Wacom,Stylus,планшет,устройства ввода,стилус
X-KDE-Keywords[sk]=Tablet,Vstupné zariadenia,Wacom,Stylus
X-KDE-Keywords[sl]=Tablica,naprave za vnos,wacom,stylus
X-KDE-Keywords[sv]=Ritplatta,Inmatning,Enheter,Wacom,Penna
X-KDE-Keywords[tr]=Tablet,Girdi Aygıtları,Wacom,Stylus
X-KDE-Keywords[uk]=Tablet,Input Devices,Wacom,Stylus,планшет,введення,малювання,стило,перо
X-KDE-Keywords[x-test]=xxTabletxx,xxInput Devicesxx,xxWacomxx,xxStylusxx
X-KDE-Keywords[zh_CN]=Tablet,Input Devices,Wacom,Stylus,数位板,输入设备,压感笔
X-KDE-Keywords[zh_TW]=Tablet,Input Devices,Wacom,Stylus
