[Desktop Entry]
Exec=kcmshell4 kcm_wacomtablet
Icon=input-tablet
Type=Service
X-KDE-ServiceTypes=KCModule
DocPath=kcontrol/wacomtablet/index.html

X-KDE-Library=kcm_wacomtablet
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=keyboard-and-mouse
X-KDE-System-Settings-Parent-Category-V2=input-devices

Name=Graphic Tablet
Name[bs]=Grafički tablet
Name[ca]=Tauleta gràfica
Name[ca@valencia]=Tauleta gràfica
Name[cs]=Grafický tablet
Name[da]=Grafiktegneplade
Name[de]=Grafiktablett
Name[en_GB]=Graphic Tablet
Name[es]=Tableta gráfica
Name[et]=Graafikalaud
Name[fi]=Piirtopöytä
Name[fr]=Tablette graphique
Name[gl]=Tableta gráfica
Name[hu]=Rajztábla
Name[it]=Tavoletta grafica
Name[kk]=Графикалық планшет
Name[ko]=그래픽 태블릿
Name[nb]=Tegneplate
Name[nds]=Grafiktablettfehler
Name[nl]=Grafisch tablet
Name[pl]=Tablet graficzny
Name[pt]=Tablete Gráfica
Name[pt_BR]=Mesa digitalizadora gráfica
Name[ru]=Графический планшет
Name[sk]=Grafický tablet
Name[sl]=Grafična tablica
Name[sv]=Grafisk ritplatta
Name[tr]=Grafik Tablet
Name[uk]=Графічний планшет
Name[x-test]=xxGraphic Tabletxx
Name[zh_TW]=圖形平板裝置

Comment=Wacom Tablet Settings
Comment[bs]=Postavke Wacom tableta
Comment[ca]=Arranjament de tauleta Wacom
Comment[ca@valencia]=Arranjament de tauleta Wacom
Comment[cs]=Nastavení tabletu Wacom
Comment[da]=Indstillinger for Wacom tegneplade
Comment[de]=Wacom-Tablett-Einstellungen
Comment[en_GB]=Wacom Tablet Settings
Comment[es]=Preferencias del tablet Wacom
Comment[et]=Wacomi graafikalaua seadistused
Comment[fi]=Wacom-piirtopöydän asetukset
Comment[fr]=Paramètres de la tablette « Wacom »
Comment[gl]=Configuración de tabletas de Wacom
Comment[hu]=Wacom táblagép beállításai
Comment[it]=Impostazioni tavoletta Wacom
Comment[kk]=Wacom планшеттің параметрлері
Comment[ko]=와콤 태블릿 설정
Comment[nb]=Innstillinger for Wacom tegneplate
Comment[nds]=Wacom-Tablett instellen
Comment[nl]=Wacom tabletinstellingen
Comment[pl]=Ustawienia tabletu Wacom
Comment[pt]=Configuração da Tablete Wacom
Comment[pt_BR]=Configurações da mesa digitalizadora Wacom
Comment[ru]=Настройка планшета Wacom
Comment[sk]=Nastavenia tabletu Wacom
Comment[sl]=Nastavitve tablice Wacom
Comment[sv]=Inställningar av Wacom ritplatta
Comment[tr]=Wacom Tablet Ayarları
Comment[uk]=Параметри планшетів Wacom
Comment[x-test]=xxWacom Tablet Settingsxx
Comment[zh_TW]=Wacom 平板裝置設定

X-KDE-Keywords=Tablet,Input Devices,Wacom,Stylus
X-KDE-Keywords[bs]=Tablet,Ulazni uređaji,Wacom,Stylus
X-KDE-Keywords[ca]=Tauleta,Dispositius d'entrada,Wacom,Llapis
X-KDE-Keywords[ca@valencia]=Tauleta,Dispositius d'entrada,Wacom,Llapis
X-KDE-Keywords[cs]=Tablet,Vstupní zařízení,Wacom,Stylus
X-KDE-Keywords[da]=Tablet,input-enheder,Wacom,stylus,tegneplade
X-KDE-Keywords[de]=Tablett,Eingabegeräte,Wacom,Stift
X-KDE-Keywords[en_GB]=Tablet,Input Devices,Wacom,Stylus
X-KDE-Keywords[es]=Tablet,Dispositivos de entrada,Wacom,Stylus
X-KDE-Keywords[et]=tahvel,tablet,laud,graafikalaud,sisendseadmed,wacom,stilus
X-KDE-Keywords[fi]=Tablet,input devices,piirtopöytä,syöttölaite,Wacom,Stylus
X-KDE-Keywords[fr]=Tablette, périphériques d'entrée, Wacom, stylet
X-KDE-Keywords[gl]=Tableta,Dispositivos de entrada,Wacom,Stylus
X-KDE-Keywords[hu]=Táblagép,Beviteli eszközök,Wacom,Stylus
X-KDE-Keywords[kk]=Tablet,Input Devices,Wacom,Stylus
X-KDE-Keywords[ko]=Tablet,Input Devices,Wacom,Stylus,태블릿,타블렛,입력 장치,와콤,스타일러스,펜
X-KDE-Keywords[nb]=Tablet,skriveplate,inndata-enheter,Wacom,penn
X-KDE-Keywords[nds]=Tablett,Ingaav-Reedschappen,Wacom,Stylus,Stift
X-KDE-Keywords[nl]=Tablet,invoerapparaten,Wacom,stylus
X-KDE-Keywords[pl]=Tablet,Urządzenia wejściowe,Wacom,Rysik
X-KDE-Keywords[pt]=Tablete,Dispositivos de Entrada,Wacom,Caneta
X-KDE-Keywords[pt_BR]=Tablet,Dispositivos de entrada,Wacom,Stylus
X-KDE-Keywords[ru]=Tablet,Input Devices,Wacom,Stylus,планшет,устройства ввода,стилус
X-KDE-Keywords[sk]=Tablet,Vstupné zariadenia,Wacom,Stylus
X-KDE-Keywords[sl]=Tablica,naprave za vnos,wacom,stylus
X-KDE-Keywords[sv]=Ritplatta,Inmatning,Enheter,Wacom,Penna
X-KDE-Keywords[tr]=Tablet,Girdi Aygıtları,Wacom,Stylus
X-KDE-Keywords[uk]=Tablet,Input Devices,Wacom,Stylus,планшет,введення,малювання,стило,перо
X-KDE-Keywords[x-test]=xxTablet,Input Devices,Wacom,Stylusxx
X-KDE-Keywords[zh_TW]=Tablet,Input Devices,Wacom,Stylus
