[Desktop Entry]
Name=Wacom Tablet finder
Name[ar]=باحث لوحيّات واكُم
Name[bs]=Wacom Tablet detektor
Name[ca]=Detecció per a tauletes Wacom
Name[ca@valencia]=Detecció per a tauletes Wacom
Name[cs]=Hledač tabletů Wacom
Name[da]=Wacom tegneplade-finder
Name[de]=Wacom-Tabletterkennung
Name[el]=Πινάκιο Wacom
Name[en_GB]=Wacom Tablet finder
Name[es]=Buscador de la tableta tableta Wacom
Name[fi]=Wacom-piirtopöydän etsijä
Name[fr]=Découvreur de tablette Wacom
Name[gl]=Detector de tabletas de Wacom
Name[hu]=Wacom táblagép kereső
Name[ko]=와콤 태블릿 찾기
Name[nds]=Wacom-Tablett-Söker
Name[nl]=Zoeker naar Wacom-tablet
Name[nn]=Finn Wacom-teikneplate
Name[pl]=Wykrywanie tabletu Wacom
Name[pt]=Detecção de Tabletes Wacom
Name[pt_BR]=Detecção de mesas digitalizadoras Wacom
Name[sk]=Hľadač Wacom tabletu
Name[sl]=Iskalnik tablic Wacom
Name[sv]=Sök Wacom ritplatta
Name[tr]=Wacom Tablet bulucu
Name[uk]=Засіб пошуку планшетів Wacom
Name[x-test]=xxWacom Tablet finderxx
Name[zh_CN]=Wacom 绘图板发现者
Name[zh_TW]=Wacom 平板裝置搜尋
Exec=kde_wacom_tabletfinder
Icon=input-tablet
Type=Application
Terminal=false
GenericName=Helper tool to detect Wacom Tablets
GenericName[ar]=أداة مساعدة لاكتشاف لوحيّات واكُم
GenericName[ast]=Ferramienta auxiliar pa deteutar tabletes Wacom
GenericName[bs]=Pomoćni alat za prepoznavanje Wacom Tableta
GenericName[ca]=Eina d'ajuda per a detectar tauletes Wacom
GenericName[ca@valencia]=Eina d'ajuda per a detectar tauletes Wacom
GenericName[cs]=Pomocný nástroj k detekci tabletů Wacom
GenericName[da]=Hjælpeværktøj til at detektere Wacom-tegneplader
GenericName[de]=Hilfsprogramm zur Erkennung von Wacom-Tabletts
GenericName[el]=Βοηθητικό εργαλείο για εντοπισμό πινακίων Wacom
GenericName[en_GB]=Helper tool to detect Wacom Tablets
GenericName[es]=Herramienta de ayuda para detectar tabletas Wacom
GenericName[fi]=Aputyökalu Wacom-piirtopöytien tunnistamiseksi
GenericName[fr]=Outil aidant à détecter les tablettes Wacom
GenericName[gl]=Ferramenta para detectar tabletas de Wacom
GenericName[hu]=Segédeszköz a Wacom táblagépek felismeréséhez
GenericName[ko]=와콤 태블릿 인식 도구
GenericName[nds]=Warktüüch, dat Wacom-Tabletts finnen deit
GenericName[nl]=Hulpgereedschap voor detecteren van Wacom-tablets
GenericName[nn]=Hjelpeverktøy for å oppdaga Wacom-teikneplater
GenericName[pl]=Narzędzie pomocnicze do wykrywania tabletów Wacom
GenericName[pt]=Ferramenta auxiliar para detectar Tabletes Wacom
GenericName[pt_BR]=Ferramenta de ajuda para detectar mesas digitalizadoras Wacom
GenericName[sk]=Pomocný nástroj na detekciu Wacom tabletov
GenericName[sl]=Pomagalnik za zaznavanje tablic Wacom
GenericName[sv]=Hjälpverktyg för att detektera Wacom ritplattor
GenericName[tr]=Wacom Tabletlerini bulmak için yardımcı araç
GenericName[uk]=Допоміжний інструмент для виявлення планшетів Wacom
GenericName[x-test]=xxHelper tool to detect Wacom Tabletsxx
GenericName[zh_CN]=检测 Wacom 绘图板的辅助工具
GenericName[zh_TW]=偵測 Wacom 平百裝置的工具
Categories=Qt;KDE;Settings
