[Desktop Entry]
Name=Wacom Tablet finder
Name[ca]=Detecció de tauletes Wacom
Name[en_GB]=Wacom Tablet finder
Name[es]=Buscador de la tableta tableta Wacom
Name[nl]=Zoeker naar Wacom-tablet
Name[pt]=Detecção de Tabletes Wacom
Name[sk]=Hľadač Wacom tabletu
Name[sv]=Sök Wacom ritplatta
Name[uk]=Засіб пошуку планшетів Wacom
Name[x-test]=xxWacom Tablet finderxx
Exec=kde_wacom_tabletfinder
Icon=input-tablet
Type=Application
Terminal=false
GenericName=Helper tool to detect Wacom Tablets
GenericName[ca]=Eina d'ajuda per a detectar tauletes Wacom
GenericName[en_GB]=Helper tool to detect Wacom Tablets
GenericName[es]=Herramienta de ayuda para detectar tabletas Wacom
GenericName[nl]=Hulpgereedschap voor detecteren van Wacom-tablets
GenericName[pt]=Ferramenta auxiliar para detectar Tabletes Wacom
GenericName[sk]=Pomocný nástroj na detekciu Wacom tabletov
GenericName[sv]=Hjälpverktyg för att detektera Wacom ritplattor
GenericName[uk]=Допоміжний інструмент для виявлення планшетів Wacom
GenericName[x-test]=xxHelper tool to detect Wacom Tabletsxx
Categories=Qt;KDE;Settings
